.App {
  background-color: #282c34;
  margin-top: 0rem;
  border: 1px solid transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-Header {
  margin-top: 3rem;
  font-size: calc(10px + 2vmin);
  background-color: #61dafb;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 600px;
}



.UserForm {
  background-color: #76819a;
  border: 2px solid #61dafb; 
  border-radius: 10px;
  
  padding: 20px;
  padding-bottom: 0;

  max-width: 600px;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  font-weight: bold;

  display: flex;
  flex-direction: column;
  gap: 20px
}

.button-submit-UserForm {
  width: calc(100% + 40px);
  margin-left: -20px;

  padding: 10px 20px;
  border: none;

  background-color: #61dafb;
  color: rgb(0, 0, 0);

  border-radius: 5px;

  cursor: pointer;
  font-weight: bold;
}
