.App {
  background-color: #282c34;
  margin-top: 0rem;
  border: 1px solid transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-Header {
  margin-top: 3rem;
  font-size: calc(10px + 2vmin);
  background-color: #61dafb;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 380px;
}

.container {
  width: 410px;
}

.UserForm {
  background-color: #76819a;
  border: 2px solid #61dafb; 
  border-radius: 10px;
  
  padding: 20px;
  padding-bottom: 0;

  max-width: 600px;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  font-weight: bold;

  display: flex;
  flex-direction: column;
  gap: 20px
}

.button-submit-UserForm {
  width: calc(100% + 40px);
  margin-left: -20px;

  padding: 10px 20px;
  border: none;

  background-color: #61dafb;
  color: rgb(0, 0, 0);

  border-radius: 5px;

  cursor: pointer;
  font-weight: bold;
}

.button-submit-UserForm:disabled {
  background-color: #0077b3; /* Przyciemniony niebieski kolor, gdy disabled */
  cursor: not-allowed;
  opacity: 0.7; /* Możesz dostosować wartość, aby uzyskać pożądany efekt */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-icon {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #61dafb; /* Blue matching the button */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.video-description {
  background-color: #76819a;
  border: 2px solid #61dafb; 
  border-radius: 10px;
  
  box-sizing: border-box; 
  padding: 20px;

  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px
}


datalist {
  display: flex;
  justify-content: space-between;
  font-weight:lighter;
  font-size:xx-small;

}

  option {
    padding: 0;
  }

input[type="range"] {
  width: 7rem;
  margin: 0;
  background: linear-gradient(to right, red, yellow, green);
}